   .submit-btn {
       background: #990000;
       //border-radius: 30px !important;
       border: 2px solid #2B2B2B;
       width: 100px;
       height: 100px;
       margin-left: 20px;
       margin-top: 50px;
   }
   
   .home-tabs {
       align-content: center;
   }
   
   // .home-background{
   //   background-color:  #ccccff;
   // }
   .grid-slide {
       height: 40%;
       width: 100%;
   }
   
   .space {
       width: 15px;
   }
   
   .colour1 {
       background: #007a99;
   }
   
   .colour2 {
       background: #00a3cc;
   }
   
   .colour3 {
       background: #00ccff;
   }
   
   .colour4 {
       background: #33d6ff;
   }
   
   // .home-background{
   //    background: #2B2B2B;
   // }
   .homemenu {
       background: #007a99;
   }