.button-pink {
    color: #F63566;
     background-color: white;
    // text-transform: uppercase;
    // //font-size: 75%;
     border: 2px solid #F63566;
    // padding: 6% 23%;
    // // margin: auto;
    // // white-space: nowrap;
    // // text-align: center;
    // // font-family: "SanFranciscoText-Regular";
    // // font-weight: bold;
    // // letter-spacing: 0.3em;
    height: 290%;
    width: 100%;
}

     .submit-btn {
       background: #62E548;
       //border-radius: 30px !important;
       border: 2px solid #2B2B2B;
       width: 100px;
       height: 100px;
       margin-left: 20px;
       margin-top: 50px;
     }